@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --accent-color: #ECFF00;
}

*::selection {
  background-color: var(--accent-color);
  color: var(--text-color);
}

html,
body {
  font-family: "Noto Serif JP", serif;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--text-color);
}

.under-construction {
  font-family: "Montserrat", sans-serif;
  background-color: var(--accent-color);
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  margin-bottom: 10px;
  border-top: 3px solid var(--text-color);
  border-bottom: 3px solid var(--text-color);
}

main {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .under-construction {
    font-size: 2.2em;
  }
}

@media (max-width: 600px) {
  .under-construction {
    font-size: 1.8em;
  }
}
