header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav a {
  padding: 0.5rem;
  text-decoration: none;
}

.nav a:hover {
  transition: opacity 0.3s ease;
  background-color: var(--text-color);
  color: var(--background-color);
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav img {
  height: 50px;
}

.mobile-only {
  display: none;
}

@media (max-width: 900px) {
  #nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    box-shadow: none;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    border-top: none;
  }

  #nav-menu.active {
    display: flex;
  }

  #nav-menu li a {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
  }

  .mobile-only {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
  }
}