<header class="nav">
  <a href="/" class="logo">
    <img src="/assets/svg/harmony_ren_full_logo.svg" alt="HARMONY REN LOGO">
  </a>
  <button class="mobile-only">☰</button>

  <ul id="nav-menu">
    <li><a href="/">Home</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/services/">Services</a></li>
    <li><a href="/about-us/">About Us</a></li>
    <li><a href="/transparency/">Transparency</a></li>
    <li><a href="/contact-us/">Contact Us</a></li>
    <li><a href="/get-involved/">Get Involved</a></li>
  </ul>
</header>
<script src="/js/nav-menu-toggle.js"></script>