<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/assets/png/harmony_ren_light.png" type="image/png">

  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/nav.css">
  <title>{{ title }}</title>

  <meta name="description"
    content="Research. Propose. Debate. Create. For innovation. Join the Open Innovation Collective HARMONY連.">
  <link rel="canonical" href="https://harmonyren.net/">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description"
    content="Research. Propose. Debate. Create. For innovation. Join the Open Innovation Collective HARMONY連.">
  <meta property="og:url" content="https://harmonyren.net/">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/assets/png/harmony_ren_light.png">

  <meta name="twitter:image" content="/assets/png/harmony_ren_light.png">

  <style>
    .construction-banner {
      background-color: var(--text-color);
      color: var(--background-color);
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      padding: 12px 0;
      margin: 10px 0;
    }

    .subnote {
      font-size: 1.3rem;
      font-weight: normal;
      color: var(--background-color);
    }

    footer {
      text-align: center;
      font-size: 0.9rem;
      padding: 20px 0;
    }
  </style>

  <script>
    setTimeout(() => {
      document.body.classList.add('show');
    }, 500);
  </script>


  <style>
    .package {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
    }

    .package .certified {
      width: 25vw;
      border: 1px solid var(--text-color);
    }

    .download-btn {
      background-color: var(--text-color);
      color: var(--background-color);
      width: 100%;
      display: block;
      text-align: center;
      font-size: 2rem;
      margin: 20px 0 0 0;
      text-decoration: none;
      border-radius: 50px;
      padding: 10px 0;
    }
  </style>


</head>

<body>
  {% include "nav.njk" %}

  <div class="construction-banner">
    WEBSITE UNDER CONSTRUCTION<br>
  </div>

  <main>
    <div class="package">
      <div>
        <img src="{{ image_url }}" alt="app logo" style="height: 15vw; width: auto;" />
      </div>

      <div>
        <p>{{ package_name }}</p>
        {% if harmonyren_certified %}
        <img class="certified" src="/assets/svg/harmonyren_certified_badge.svg" alt="harmony ren certified" />
        <p>Signature: {{ signature }}</p>
        {% endif %}
        <p>Version: {{ version }}</p>
        <p>Author: {{ author }}</p>

      </div>


    </div>
    <a href="" class="download-btn">Download</a>

    <h2>Description</h2>
    <p>{{ description }}</p>
  </main>

  <footer>
    <p>HARMONY REN・For innovation・2025/2025</p>
  </footer>

</body>

</html>