footer {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px;
  margin-top: 20px;
  font-size: 0.9em;
  box-sizing: border-box;
}

footer a {
  color: var(--background-color);
}
