@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Noto+Serif+JP:wght@400;700&display=swap');

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
}

*::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}

html,
body {
  font-family: "Noto Serif JP", serif;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--text-color);
}

.under-construction {
  font-family: "Montserrat", sans-serif;
  background-color: #ECFF00;
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
  font-style: italic;
  font-size: clamp(1.8em, 5vw, 3em);
  margin-bottom: 10px;
}

main {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .under-construction {
    font-size: 2.2em;
  }
}

@media (max-width: 600px) {
  .under-construction {
    font-size: 1.8em;
  }
}
