@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

:root {
  font-family: "Noto Serif JP";
  --background-color: #FFFFFF;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
}

main {
  width: 95%;
  margin: 0 auto;
}

a {
  color: var(--text-color);
}

::selection {
  background-color: var(--text-color);
  color: var(--background-color);
}
