.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
}

.nav .logo img {
  width: min(200px, 60vw);
  display: block;
  margin-bottom: 1rem;
}


.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.nav ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease;
  border-radius: 5px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.nav ul li a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-right: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}