.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid var(--fgc);
}

.company-logo img {
  height: 50px;
  width: auto;
  display: block;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  white-space: nowrap;
}

.nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

.nav-toggle {
  display: none;
  background-color: var(--bgc);
  color: var(--fgc);
  padding: 20px 20px;
  font-size: 2em;
  border: none;
}

@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    align-items: center;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .nav-toggle {
    display: block;
    margin-left: auto;
  }

  .nav-menu.active {
    display: flex;
  }
}

#nav-toggle {
  display: none;
}

@media (max-width: 480px) {
  #nav-toggle {
    display: block;
  }
}