.invoice-form input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.invoice-form button,
select {
  font-family: "Noto Serif JP", serif;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin: 2px;
}

.invoice-form label,
.invoice-form input,
.invoice-form select,
.invoice-form button {
  display: block;
  margin-bottom: 5px;
}
